#Classification {
  position: absolute;
  top: 45px;
  right: 120px;
  width: 220px;
  height: 45px;
  z-index: 10;
}

.Cback {
  position: absolute;
  inset: 0;
  background-color: #d4b484; 
  z-index: 1;
  cursor: pointer;
}

#CText {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: #0e0202;
  font-weight: bold;
  z-index: 2;
  pointer-events: none;
}

.Cmenu {
  position: absolute;
  top: calc(100% + 20px); 
  left: 50%;
  transform: translateX(-50%) translateY(8px);
  width: 220px;
  height: 400px;
  background: url("../images/分類選項底圖.png") no-repeat center;
  background-size: cover;
  border: none;
  box-shadow: 0 12px 28px rgba(0,0,0,.35);
  margin: 0;
  padding: 5px 0;
  text-align: center;
  list-style: none;
  opacity: 0;
  visibility: hidden;
  transition: opacity .18s ease, transform .18s ease, visibility 0s .18s;
  z-index: 20;
}

.Cmenu::before {
  content: "";
  position: absolute;
  top: -18px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #d4b484 transparent; 
  z-index: 19;
  opacity: 0;
  transition: opacity .18s ease;
}

#Classification:hover .Cmenu::before {
  opacity: 1;
}

.Cmenu a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 0;
  color: #000000;
  text-decoration: none;
  font-weight: 800;
  letter-spacing: 2px;
  text-align: center;
}

.Cmenu a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  height: 3px;
  background-color: #77613e;

}

.Cmenu a:hover {
  background: rgba(116, 87, 29, 0.178);
}

#Classification:hover .Cmenu {
  opacity: 1;
  visibility: visible;
  transform: translateX(-50%) translateY(0);
  transition-delay: 0s;
}